<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaEditDlg" widgetVar="AgendaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.EditAgendaTitle}">
            <h:form id="AgendaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_idAgenda}" for="idAgenda" />
                        <p:inputText id="idAgenda" value="#{agendaController.selected.idAgenda}" title="#{agenda2.EditAgendaTitle_idAgenda}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_idAgenda}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{agendaController.selected.tipo}" title="#{agenda2.EditAgendaTitle_tipo}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_duracion}" for="duracion" />
                        <p:inputText id="duracion" value="#{agendaController.selected.duracion}" title="#{agenda2.EditAgendaTitle_duracion}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_duracion}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda2.EditAgendaTitle_nombre}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda2.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{agendaController.selected.hora}" title="#{agenda2.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_hora}" showOn="button"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_participantes}" for="participantes" />
                        <p:inputText id="participantes" value="#{agendaController.selected.participantes}" title="#{agenda2.EditAgendaTitle_participantes}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_participantes}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_area}" for="area" />
                        <p:inputText id="area" value="#{agendaController.selected.area}" title="#{agenda2.EditAgendaTitle_area}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_area}"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_fechaIncioReg}" for="fechaIncioReg" />
                        <p:calendar id="fechaIncioReg" pattern="MM/dd/yyyy" value="#{agendaController.selected.fechaIncioReg}" title="#{agenda2.EditAgendaTitle_fechaIncioReg}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_fechaIncioReg}" showOn="button"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_fechaFinReg}" for="fechaFinReg" />
                        <p:calendar id="fechaFinReg" pattern="MM/dd/yyyy" value="#{agendaController.selected.fechaFinReg}" title="#{agenda2.EditAgendaTitle_fechaFinReg}"  showOn="button"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_agendacol}" for="agendacol" />
                        <p:calendar id="agendacol" pattern="MM/dd/yyyy" value="#{agendaController.selected.agendacol}" title="#{agenda2.EditAgendaTitle_agendacol}"  showOn="button"/>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_eventoParticipantesidEventoParticipantes}" for="eventoParticipantesidEventoParticipantes" />
                        <p:selectOneMenu id="eventoParticipantesidEventoParticipantes" value="#{agendaController.selected.eventoParticipantesidEventoParticipantes}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_eventoParticipantesidEventoParticipantes}">
                            <f:selectItem itemLabel="#{agenda2.SelectOneMessage}"/>
                            <f:selectItems value="#{eventoparticipantesController.itemsAvailableSelectOne}"
                                           var="eventoParticipantesidEventoParticipantesItem"
                                           itemValue="#{eventoParticipantesidEventoParticipantesItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_reunionEmpleadosidReunionEmpleados}" for="reunionEmpleadosidReunionEmpleados" />
                        <p:selectOneMenu id="reunionEmpleadosidReunionEmpleados" value="#{agendaController.selected.reunionEmpleadosidReunionEmpleados}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_reunionEmpleadosidReunionEmpleados}">
                            <f:selectItem itemLabel="#{agenda2.SelectOneMessage}"/>
                            <f:selectItems value="#{reunionempleadosController.itemsAvailableSelectOne}"
                                           var="reunionEmpleadosidReunionEmpleadosItem"
                                           itemValue="#{reunionEmpleadosidReunionEmpleadosItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda2.EditAgendaLabel_reunionProveedoresidReunionProveedores}" for="reunionProveedoresidReunionProveedores" />
                        <p:selectOneMenu id="reunionProveedoresidReunionProveedores" value="#{agendaController.selected.reunionProveedoresidReunionProveedores}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_reunionProveedoresidReunionProveedores}">
                            <f:selectItem itemLabel="#{agenda2.SelectOneMessage}"/>
                            <f:selectItems value="#{reunionproveedoresController.itemsAvailableSelectOne}"
                                           var="reunionProveedoresidReunionProveedoresItem"
                                           itemValue="#{reunionProveedoresidReunionProveedoresItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.update}" value="#{agenda2.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AgendaEditDialog');"/>
                    <p:commandButton value="#{agenda2.Cancel}" onclick="AgendaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
