<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda2.ListAgendaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AgendaListForm">
                <p:panel header="#{agenda2.ListAgendaTitle}">
                    <p:dataTable id="datalist" value="#{agendaController.items}" var="item"
                                 selectionMode="single" selection="#{agendaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idAgenda}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_idAgenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAgenda}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_duracion}"/>
                            </f:facet>
                            <h:outputText value="#{item.duracion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_hora}"/>
                            </f:facet>
                            <h:outputText value="#{item.hora}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_participantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.participantes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_area}"/>
                            </f:facet>
                            <h:outputText value="#{item.area}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_fechaIncioReg}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaIncioReg}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_fechaFinReg}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaFinReg}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_agendacol}"/>
                            </f:facet>
                            <h:outputText value="#{item.agendacol}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_eventoParticipantesidEventoParticipantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.eventoParticipantesidEventoParticipantes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_reunionEmpleadosidReunionEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.reunionEmpleadosidReunionEmpleados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListAgendaTitle_reunionProveedoresidReunionProveedores}"/>
                            </f:facet>
                            <h:outputText value="#{item.reunionProveedoresidReunionProveedores}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda2.Create}" actionListener="#{agendaController.prepareCreate}" update=":AgendaCreateForm" oncomplete="PF('AgendaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda2.View}" update=":AgendaViewForm" oncomplete="PF('AgendaViewDialog').show()" disabled="#{empty agendaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda2.Edit}" update=":AgendaEditForm" oncomplete="PF('AgendaEditDialog').show()" disabled="#{empty agendaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda2.Delete}" actionListener="#{agendaController.destroy}" update=":growl,datalist" disabled="#{empty agendaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
