<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaViewDlg" widgetVar="AgendaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.ViewAgendaTitle}">
            <h:form id="AgendaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <h:outputText value="#{agenda2.ViewAgendaLabel_idAgenda}"/>
                        <h:outputText value="#{agendaController.selected.idAgenda}" title="#{agenda2.ViewAgendaTitle_idAgenda}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_tipo}"/>
                        <h:outputText value="#{agendaController.selected.tipo}" title="#{agenda2.ViewAgendaTitle_tipo}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_duracion}"/>
                        <h:outputText value="#{agendaController.selected.duracion}" title="#{agenda2.ViewAgendaTitle_duracion}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_nombre}"/>
                        <h:outputText value="#{agendaController.selected.nombre}" title="#{agenda2.ViewAgendaTitle_nombre}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_fecha}"/>
                        <h:outputText value="#{agendaController.selected.fecha}" title="#{agenda2.ViewAgendaTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_hora}"/>
                        <h:outputText value="#{agendaController.selected.hora}" title="#{agenda2.ViewAgendaTitle_hora}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_participantes}"/>
                        <h:outputText value="#{agendaController.selected.participantes}" title="#{agenda2.ViewAgendaTitle_participantes}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_area}"/>
                        <h:outputText value="#{agendaController.selected.area}" title="#{agenda2.ViewAgendaTitle_area}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_fechaIncioReg}"/>
                        <h:outputText value="#{agendaController.selected.fechaIncioReg}" title="#{agenda2.ViewAgendaTitle_fechaIncioReg}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_fechaFinReg}"/>
                        <h:outputText value="#{agendaController.selected.fechaFinReg}" title="#{agenda2.ViewAgendaTitle_fechaFinReg}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_agendacol}"/>
                        <h:outputText value="#{agendaController.selected.agendacol}" title="#{agenda2.ViewAgendaTitle_agendacol}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_eventoParticipantesidEventoParticipantes}"/>
                        <h:outputText value="#{agendaController.selected.eventoParticipantesidEventoParticipantes}" title="#{agenda2.ViewAgendaTitle_eventoParticipantesidEventoParticipantes}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_reunionEmpleadosidReunionEmpleados}"/>
                        <h:outputText value="#{agendaController.selected.reunionEmpleadosidReunionEmpleados}" title="#{agenda2.ViewAgendaTitle_reunionEmpleadosidReunionEmpleados}"/>
                        <h:outputText value="#{agenda2.ViewAgendaLabel_reunionProveedoresidReunionProveedores}"/>
                        <h:outputText value="#{agendaController.selected.reunionProveedoresidReunionProveedores}" title="#{agenda2.ViewAgendaTitle_reunionProveedoresidReunionProveedores}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda2.Close}" onclick="AgendaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
