<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventoparticipantesCreateDlg" widgetVar="EventoparticipantesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.CreateEventoparticipantesTitle}">
            <h:form id="EventoparticipantesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventoparticipantesController.selected != null}">
                        <p:outputLabel value="#{agenda2.CreateEventoparticipantesLabel_idEventoParticipantes}" for="idEventoParticipantes" />
                        <p:inputText id="idEventoParticipantes" value="#{eventoparticipantesController.selected.idEventoParticipantes}" title="#{agenda2.CreateEventoparticipantesTitle_idEventoParticipantes}" required="true" requiredMessage="#{agenda2.CreateEventoparticipantesRequiredMessage_idEventoParticipantes}"/>
                        <p:outputLabel value="#{agenda2.CreateEventoparticipantesLabel_idEvento}" for="idEvento" />
                        <p:inputText id="idEvento" value="#{eventoparticipantesController.selected.idEvento}" title="#{agenda2.CreateEventoparticipantesTitle_idEvento}" required="true" requiredMessage="#{agenda2.CreateEventoparticipantesRequiredMessage_idEvento}"/>
                        <p:outputLabel value="#{agenda2.CreateEventoparticipantesLabel_confirmado}" for="confirmado" />
                        <p:selectBooleanCheckbox id="confirmado" value="#{eventoparticipantesController.selected.confirmado}" required="true" requiredMessage="#{agenda2.EditEventoparticipantesRequiredMessage_confirmado}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{eventoparticipantesController.create}" value="#{agenda2.Save}" update="display,:EventoparticipantesListForm:datalist,:growl" oncomplete="handleSubmit(args,'EventoparticipantesCreateDialog');"/>
                    <p:commandButton value="#{agenda2.Cancel}" onclick="EventoparticipantesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
