<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda2.ListEventoparticipantesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EventoparticipantesListForm">
                <p:panel header="#{agenda2.ListEventoparticipantesTitle}">
                    <p:dataTable id="datalist" value="#{eventoparticipantesController.items}" var="item"
                                 selectionMode="single" selection="#{eventoparticipantesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idEventoParticipantes}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListEventoparticipantesTitle_idEventoParticipantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEventoParticipantes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListEventoparticipantesTitle_idEvento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEvento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListEventoparticipantesTitle_confirmado}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.confirmado}" disabled="true"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda2.Create}" actionListener="#{eventoparticipantesController.prepareCreate}" update=":EventoparticipantesCreateForm" oncomplete="PF('EventoparticipantesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda2.View}" update=":EventoparticipantesViewForm" oncomplete="PF('EventoparticipantesViewDialog').show()" disabled="#{empty eventoparticipantesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda2.Edit}" update=":EventoparticipantesEditForm" oncomplete="PF('EventoparticipantesEditDialog').show()" disabled="#{empty eventoparticipantesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda2.Delete}" actionListener="#{eventoparticipantesController.destroy}" update=":growl,datalist" disabled="#{empty eventoparticipantesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
