<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventoparticipantesViewDlg" widgetVar="EventoparticipantesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.ViewEventoparticipantesTitle}">
            <h:form id="EventoparticipantesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventoparticipantesController.selected != null}">
                        <h:outputText value="#{agenda2.ViewEventoparticipantesLabel_idEventoParticipantes}"/>
                        <h:outputText value="#{eventoparticipantesController.selected.idEventoParticipantes}" title="#{agenda2.ViewEventoparticipantesTitle_idEventoParticipantes}"/>
                        <h:outputText value="#{agenda2.ViewEventoparticipantesLabel_idEvento}"/>
                        <h:outputText value="#{eventoparticipantesController.selected.idEvento}" title="#{agenda2.ViewEventoparticipantesTitle_idEvento}"/>
                        <h:outputText value="#{agenda2.ViewEventoparticipantesLabel_confirmado}"/>
                        <p:selectBooleanCheckbox value="#{eventoparticipantesController.selected.confirmado}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda2.Close}" onclick="EventoparticipantesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
