<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionproveedoresEditDlg" widgetVar="ReunionproveedoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.EditReunionproveedoresTitle}">
            <h:form id="ReunionproveedoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionproveedoresController.selected != null}">
                        <p:outputLabel value="#{agenda2.EditReunionproveedoresLabel_idReunionProveedores}" for="idReunionProveedores" />
                        <p:inputText id="idReunionProveedores" value="#{reunionproveedoresController.selected.idReunionProveedores}" title="#{agenda2.EditReunionproveedoresTitle_idReunionProveedores}" required="true" requiredMessage="#{agenda2.EditReunionproveedoresRequiredMessage_idReunionProveedores}"/>
                        <p:outputLabel value="#{agenda2.EditReunionproveedoresLabel_idReunion}" for="idReunion" />
                        <p:inputText id="idReunion" value="#{reunionproveedoresController.selected.idReunion}" title="#{agenda2.EditReunionproveedoresTitle_idReunion}" required="true" requiredMessage="#{agenda2.EditReunionproveedoresRequiredMessage_idReunion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionproveedoresController.update}" value="#{agenda2.Save}" update="display,:ReunionproveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ReunionproveedoresEditDialog');"/>
                    <p:commandButton value="#{agenda2.Cancel}" onclick="ReunionproveedoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
