<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda2.ListReunionproveedoresTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ReunionproveedoresListForm">
                <p:panel header="#{agenda2.ListReunionproveedoresTitle}">
                    <p:dataTable id="datalist" value="#{reunionproveedoresController.items}" var="item"
                                 selectionMode="single" selection="#{reunionproveedoresController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idReunionProveedores}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListReunionproveedoresTitle_idReunionProveedores}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReunionProveedores}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListReunionproveedoresTitle_idReunion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReunion}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda2.Create}" actionListener="#{reunionproveedoresController.prepareCreate}" update=":ReunionproveedoresCreateForm" oncomplete="PF('ReunionproveedoresCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda2.View}" update=":ReunionproveedoresViewForm" oncomplete="PF('ReunionproveedoresViewDialog').show()" disabled="#{empty reunionproveedoresController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda2.Edit}" update=":ReunionproveedoresEditForm" oncomplete="PF('ReunionproveedoresEditDialog').show()" disabled="#{empty reunionproveedoresController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda2.Delete}" actionListener="#{reunionproveedoresController.destroy}" update=":growl,datalist" disabled="#{empty reunionproveedoresController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
