<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionempleadosEditDlg" widgetVar="ReunionempleadosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.EditReunionempleadosTitle}">
            <h:form id="ReunionempleadosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionempleadosController.selected != null}">
                        <p:outputLabel value="#{agenda2.EditReunionempleadosLabel_idReunionEmpleados}" for="idReunionEmpleados" />
                        <p:inputText id="idReunionEmpleados" value="#{reunionempleadosController.selected.idReunionEmpleados}" title="#{agenda2.EditReunionempleadosTitle_idReunionEmpleados}" required="true" requiredMessage="#{agenda2.EditReunionempleadosRequiredMessage_idReunionEmpleados}"/>
                        <p:outputLabel value="#{agenda2.EditReunionempleadosLabel_idreunion}" for="idreunion" />
                        <p:inputText id="idreunion" value="#{reunionempleadosController.selected.idreunion}" title="#{agenda2.EditReunionempleadosTitle_idreunion}" required="true" requiredMessage="#{agenda2.EditReunionempleadosRequiredMessage_idreunion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionempleadosController.update}" value="#{agenda2.Save}" update="display,:ReunionempleadosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ReunionempleadosEditDialog');"/>
                    <p:commandButton value="#{agenda2.Cancel}" onclick="ReunionempleadosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
