<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionempleadosViewDlg" widgetVar="ReunionempleadosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.ViewReunionempleadosTitle}">
            <h:form id="ReunionempleadosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionempleadosController.selected != null}">
                        <h:outputText value="#{agenda2.ViewReunionempleadosLabel_idReunionEmpleados}"/>
                        <h:outputText value="#{reunionempleadosController.selected.idReunionEmpleados}" title="#{agenda2.ViewReunionempleadosTitle_idReunionEmpleados}"/>
                        <h:outputText value="#{agenda2.ViewReunionempleadosLabel_idreunion}"/>
                        <h:outputText value="#{reunionempleadosController.selected.idreunion}" title="#{agenda2.ViewReunionempleadosTitle_idreunion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda2.Close}" onclick="ReunionempleadosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
