<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresActuaDlg" widgetVar="ProveedoresActuaDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.ActuaProveedoresTitle}">
            <h:form id="ProveedoresActuaForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_idProveedores}" for="idProveedores" />
                        <p:inputText id="idProveedores" value="#{proveedoresController.selected.idProveedores}" title="#{agenda.ActuaProveedoresTitle_idProveedores}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_idProveedores}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{proveedoresController.selected.nombre}" title="#{agenda.ActuaProveedoresTitle_nombre}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_nombreContacto}" for="nombreContacto" />
                        <p:inputText id="nombreContacto" value="#{proveedoresController.selected.nombreContacto}" title="#{agenda.ActuaProveedoresTitle_nombreContacto}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_nombreContacto}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_telefonoContacto}" for="telefonoContacto" />
                        <p:inputText id="telefonoContacto" value="#{proveedoresController.selected.telefonoContacto}" title="#{agenda.ActuaProveedoresTitle_telefonoContacto}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_telefonoContacto}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_telefonoEmpresa}" for="telefonoEmpresa" />
                        <p:inputText id="telefonoEmpresa" value="#{proveedoresController.selected.telefonoEmpresa}" title="#{agenda.ActuaProveedoresTitle_telefonoEmpresa}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_telefonoEmpresa}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_emailContacto}" for="emailContacto" />
                        <p:inputText id="emailContacto" value="#{proveedoresController.selected.emailContacto}" title="#{agenda.ActuaProveedoresTitle_emailContacto}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_emailContacto}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_domicilio}" for="domicilio" />
                        <p:inputText id="domicilio" value="#{proveedoresController.selected.domicilio}" title="#{agenda.ActuaProveedoresTitle_domicilio}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_domicilio}"/>
                        <p:outputLabel value="#{agenda.ActuaProveedoresLabel_idUsuarios}" for="idUsuarios" />
                        <p:selectOneMenu id="idUsuarios" value="#{proveedoresController.selected.idUsuarios}" required="true" requiredMessage="#{agenda.ActuaProveedoresRequiredMessage_idUsuarios}">
                            <f:selectItem itemLabel="#{agenda.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsuariosItem"
                                           itemValue="#{idUsuariosItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.update}" value="#{agenda.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProveedoresActuaDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ProveedoresActuaDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
