<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <h:form>
                    <p:growl id="messages" showDetail="true"/>
                    <label>Busqueda</label>
                    <p:slideMenu>                                                                     
                        <p:submenu label="Reunion">
                            <p:submenu label="Fecha">
                                <p:menuitem>
                                    <p:calendar/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/>
                                </p:menuitem>
                            </p:submenu>                            
                            <p:submenu label="Nombre">
                                <p:menuitem>
                                    <p:inputText placeholder="Nombre"/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>
                        <p:submenu label="Evento">
                            <p:submenu label="Fecha"><p:menuitem><p:calendar/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Nombre"><p:menuitem><p:inputText placeholder="Nombre"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>                      
                        <p:submenu label="Fecha">
                                <p:menuitem>
                                    <p:calendar/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/>
                                </p:menuitem>
                            </p:submenu>                            
                    </p:slideMenu>
                </h:form>
            </p:layout>
        </h:body>
    </f:view>
</html>

