<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                
                
                
                
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    
                    
                    
                    Header
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Edición" >                            
                            <p:menuitem value="Empleados" outcome="/editar_Administrador_1" />
                            <p:menuitem value="Provedores" outcome="/editar_Administrador_2"  />
                            <p:menuitem value="Lugares" outcome="editar_Administrador_3" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>


                <p:layoutUnit position="center">
                    Bienvenido Administrador
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

