<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                
                
                
                
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
       Lugares
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Edición" >                            
                            <p:menuitem value="Empleados" outcome="/editar_Administrador_1" />
                            <p:menuitem value="Provedores" outcome="/editar_Administrador_2"  />
                            <p:menuitem value="Lugares" outcome="editar_Administrador_3" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>


                <p:layoutUnit position="center">
                    <h:form id="LugaresListForm">
                <p:panel header="#{agenda.ListLugaresTitle}">
                    <p:dataTable id="datalist" value="#{lugaresController.items}" var="item"
                                 selectionMode="single" selection="#{lugaresController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idLugares}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListLugaresTitle_idLugares}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLugares}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListLugaresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListLugaresTitle_capcidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capcidad}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="editButton"    value="#{agenda.Edit}" oncomplete="PF('LugaresEditDialog').show()" disabled="#{empty lugaresController.selected}"/>
                            </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

