<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">

            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
            <p:layoutUnit position="center" resizable="true"  > 
                <h:form>

                    <p:panel header="Login"  > 
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Usuario: " for="usu" />
                            <p:inputText id="usu" label="Usuario" required="true"  value="#{usuariosController.username}">
                                <p:tooltip for="usu" value="Introduzca su Usuario"></p:tooltip>
                            </p:inputText>
                            <p:outputLabel value="Contraseña: " for="pwd" />
                            <h:inputSecret id="pwd" label="pwd" required="true" binding="#{pwd}" value="#{usuariosController.password}">
                                <p:tooltip for="pwd" value="Introduzca su Contraseña"></p:tooltip>
                            </h:inputSecret>
                        </p:panelGrid>
                    </p:panel>
                    <p:commandButton  action="#{usuariosController.page}" actionListener="#{usuariosController.loginxw}" update="growl"  oncomplete="handleLoginRequest(xhr, status, args)"  ajax="false" icon="ui-icon-check" />
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

