<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Bienvenidos</title>
            </f:facet>
        </h:head>

        <h:body>
        
            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="90" resizable="true" closable="true" collapsible="true">
                    <h3 align="center"> Bienvenidos</h3>
                </p:layoutUnit>
                <p:layoutUnit position="west" resizable="true" closable="true" collapsible="true">
                    <p:layout fullPage="true">
                <h:form>
                    <p:growl id="messages" showDetail="true"/>
                    <label>Busqueda</label>
                    <p:slideMenu>                                                                     
                        <p:submenu label="Reunion">
                            <p:submenu label="Fecha">
                                <p:menuitem>
                                    <p:calendar/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/>
                                </p:menuitem>
                            </p:submenu>                            
                            <p:submenu label="Nombre"><p:menuitem><p:inputText placeholder="Nombre"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>
                        <p:submenu label="Evento">
                            <p:submenu label="Fecha"><p:menuitem><p:calendar/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Nombre"><p:menuitem><p:inputText placeholder="Nombre"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>                      
                        <p:submenu label="Fecha">
                                <p:menuitem>
                                    <p:calendar/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/>
                                </p:menuitem>
                            </p:submenu>                            
                    </p:slideMenu>
                </h:form>
            </p:layout>
                    
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    
                </p:layoutUnit>
                
               <p:layoutUnit position="center" resizable="true"  >     
                   
                   <div align="center">
                    <h:form>
                        
                        <p:dataTable value="#{agendaController.items}" selection="#{agendaController.selected}" rowKey="#{ag.idAgenda}"  var="agendados" paginator="true" >
                        <f:facet name="caption">Reuniones Agendadas</f:facet>
                        <p:column headerText="TIPO">
                            #{agendados.tipo}
                            </p:column>
                        <p:column headerText="AREA">
                            #{agendados.area}
                            </p:column>
                        <p:column headerText="NOMBRE DE LA REUNION">
                            #{agendados.nombre}
                            </p:column>
                        <p:column headerText="FECHA (DIA/MES)">
                            #{agendados.fecha.day}/#{agendados.fecha.month}
                            </p:column>
                        <p:column headerText="HORA">
                            #{agendados.hora.hours}:#{agendados.hora.minutes}:#{agendados.hora.seconds}
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    LISTADO DE PARTICIPANTES
                                </f:facet>
                            #{agendados.participantes}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>     
                </p:layoutUnit>

            </p:layout>
        </h:body>

    </f:view>
</html>
