<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Hola Gerente!!!!!   </title>
            </f:facet>
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
        </h:head>

        <h:body>
            <p:growl id="growl" life="3000" />

            <p:layout fullPage="true">


                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Hola Gerente!!!!! #{empleadosController.name(usuariosController.selected)}
                </p:layoutUnit>


                <p:layoutUnit position="west" size="175" header="Menú Del Gerente" collapsible="true">
                    <p:commandButton id="createButton"  value="Nuevo Evento/Reunion" actionListener="#{agendaController.prepareCreate}" update=":AgendaCreateForm" oncomplete="PF('AgendaCreateDialog').show();"/>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form id="AgendaListForm">
                        <p:panel header="Lista de Eventos">
                            <p:dataTable id="datalist" value="#{agendaController.items}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_idAgenda}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idAgenda}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_tipo}"/>
                                    </f:facet>
                                    <h:outputText value="Reunion" rendered="#{item.tipo == '0'}"/>
                                    <h:outputText value="Evento" rendered="#{item.tipo == '1'}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_duracion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.duracion}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_nombre}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nombre}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_fecha}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fecha}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_hora}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.hora.hours}:#{item.hora.minutes}:#{item.hora.seconds}">
                                        <f:convertDateTime pattern="HH:mm:ss" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_participantes}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.participantes}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_area}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.area}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_lugaresidLugares}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.lugaresidLugares.nombre}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>

            </p:layout>


            <p:dialog id="AgendaCreateDlg" widgetVar="AgendaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateAgendaTitle}">
                <h:form id="AgendaCreateForm">

                    <h:panelGroup id="display">
                        <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_tipo}" for="tipo" />
                            <p:selectOneMenu id="tipo" value="#{agendaController.selected.tipo}" binding="#{rowx}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_duracion}">
                                <f:selectItem itemLabel="Reunión" itemValue="0" />
                                <f:selectItem itemLabel="Evento" itemValue="1" />
                                <f:validator validatorId="durationValidator" />
                                <f:attribute name="duration" value="#{duration}" />
                            </p:selectOneMenu>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_duracion}" for="duracion" />
                            <p:inputText id="duracion" value="#{agendaController.selected.duracion}" title="#{agenda.CreateAgendaTitle_tipo}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_tipo}"
                                         binding="#{duration}"/>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_nombre}" for="nombre" />
                            <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda.CreateAgendaTitle_nombre}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_nombre}"/>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_fecha}" for="fecha" />
                            <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" showOn="button">
                                <f:validator validatorId="datexValidator" />
                                <f:attribute name="type" value="#{rowx}" />
                            </p:calendar>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_hora}" for="hora" />
                            <p:inputText id="hora" value="#{agendaController.selected.hora}" title="#{agenda.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_hora}" >
                                <f:convertDateTime pattern="HH:mm"/>
                            </p:inputText>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_participantes}" for="participantes" />
                            <p:inputText id="participantes" value="#{agendaController.selected.participantes}" title="#{agenda.CreateAgendaTitle_participantes}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_participantes}">
                                <f:validator validatorId="capcityValidator" />
                                <f:attribute name="capcity" value="#{capcity}" />
                                <f:attribute name="capcity2" value="#{capcity2}" />
                            </p:inputText>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_area}" for="area" />
                            <p:inputText id="area" value="#{agendaController.selected.area}" title="#{agenda.CreateAgendaTitle_area}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_area}"/>
                            <p:outputLabel value="#{agenda.CreateAgendaLabel_lugaresidLugares}" for="lugaresidLugares" />
                            <p:selectOneMenu id="lugaresidLugares" value="#{agendaController.selected.lugaresidLugares}" 
                                             required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_lugaresidLugares}"
                                             binding="#{capcity}">
                                <f:selectItems value="#{lugaresController.itemsAvailableSelectOne}"
                                               var="lugar"
                                               itemValue="#{lugar}"
                                               itemLabel="#{lugar.nombre}"
                                               binding="#{capcity2}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Fecha Inicio De Registro" for="fecha2" />
                            <p:calendar id="fecha2" pattern="MM/dd/yyyy" value="#{agendaController.selected.fechaIncioReg}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" showOn="button">
                                <f:validator validatorId="nullData" />
                                <f:attribute name="type" value="#{rowx}" />
                            </p:calendar>
                            <p:outputLabel value="Fecha Final De Registro" for="fecha3" />
                            <p:calendar id="fecha3" pattern="MM/dd/yyyy" value="#{agendaController.selected.fechaFinReg}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" showOn="button">
                                <f:validator validatorId="nullData" />
                                <f:attribute name="type" value="#{rowx}" />
                            </p:calendar>

                        </p:panelGrid>


                        <p:commandButton actionListener="#{agendaController.create}" value="#{agenda.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AgendaCreateDialog');"/>
                        <p:commandButton value="#{agenda.Cancel}" onclick="AgendaCreateDialog.hide()"/>
                    </h:panelGroup>
                </h:form>
            </p:dialog>

        </h:body>

    </f:view>
</html>
